@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.hero {
    background-color: #1F2937;
    display: flex;
    padding: 100px 200px;
    gap: 50px;
}

.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-left button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.information {
    text-align: center;        
    padding: 50px 200px;       
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;      
}

.card-container {
    display: flex;              
    justify-content: center;    
    gap: 50px;                  
}

.card {
    max-width: 200px;          
}

.card-image {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;  
    border-radius: 15px;         
    margin-bottom: 10px;         
}

.card p {
    color: #4B5563;            
    font-size: 16px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote-container {
    max-width: 900px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.cta-section {
    padding: 100px 200px;
}
.cta-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    border-radius: 10px;
    color: white;
}
.cta-text h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.cta-text p {
    font-size: 18px;
    opacity: 0.9;
}
.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 35px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}