@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.hero {
    background-color: #1F2937;
    display: flex;
    padding: 100px 200px;
    gap: 50px;
}

.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-left button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}